* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}

:root {
    --primary-color: #192847;
    --secondary-color: #B7D8E6;
    --alt-primary-color: #D48600;
    --alt-secondary-color: #F9BF03;
    --dark-color: #1c1c1c;
    --light-color: #FAF7E6;
}

.btn {
    margin-top: 30px;
    color: #faf7e6;
    cursor: pointer;
    border-radius: 25px;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    border-color: var(--light-color);
}

.btn:hover {
    background-color: var(--alt-primary-color);
}

.change-password-btn {
    width: 100%; /* Ancho completo */
    max-width: 300px; /* Máximo ancho del botón */
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    display: block; /* Asegura que el botón ocupe todo el ancho del contenedor */
    text-align: center;
    font-size: 0.9rem; /* Disminuir el tamaño de la fuente */
}

.profile-photo-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid #faf7e6;
}

.edit-photo-btn {
    display: block;
    margin: 10px auto;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.edit-photo-btn:hover {
    background-color: var(--alt-primary-color);
}

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    width: calc(100% - 30px);
    padding-right: 30px;
}

.input-with-icon i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.input-container {
    margin-bottom: 20px;
}

.change-password-container {
    display: flex;
    justify-content: center;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
