* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover;
    color: #192847;
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    overflow: hidden;
    background-color: #192847; 
    padding: 10px 20px; 
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    z-index: 1050; 
}

.nav-logo {
    height: 70px;
    width: 70px;
    background-color: #FAF7E6;
    border: solid #FAF7E6 1px;
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    height: 100%; 
    width: auto;
}

.navbar-right {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: auto;
}

.menu-toggle {
    display: none; 
    font-size: 30px; 
    color: #faf7e6; 
    background: none; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    position: absolute;
    right: 20px; 
    top: 15px; 
    z-index: 1500; 
}

.navbar a {
    color: #faf7e6;
    font-weight: bold;
    text-align: center;
    padding: 12px 25px; 
    text-decoration: none;
    font-size: 15px;
}

.navbar-right a:hover {
    background-color: #d48600;
    border-radius: 25px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 70px;
}

.reservation-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 40px;
    background-color: #FAF7E6;
    border: solid #FAF7E6 1px;
    border-radius: 20px;
}

.reservation-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    width: 100%;
    padding: 10px;
    font-size: 20px;

    label {
        font-weight: bold;
    }

    p{
        font-weight: normal;
        padding: 10px;
        border: #192847 1px solid;
        border-radius: 20px;
        text-align: center;
    }

    span{
        margin-top: 10px;
        grid-column: 1/3;
        font-size: 15px;
        border-radius: 20px;
        padding: 20px;
        background-color: #d48600;

    }
}

.reservation-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;

    button {
        padding: 15px;
        font-size: 15px;
        background-color: #192847;
        color: #FAF7E6;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
}