@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #192847;
    --secondary-color: #B7D8E6;
    --alt-primary-color: #D48600;
    --alt-secondary-color: #F9BF03;
    --dark-color: #0D0D0D;
    --light-color: #FAF7E6;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover; /* Ajuste para cubrir completamente el fondo */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija la imagen de fondo en su posición */
    margin: 0;
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    padding: 20px;
}

.nav-logo {
    height: 70px;
    width: 70px;
    margin-right: 20px;
    background-color: #FAF7E6;
    border: solid #FAF7E6 3px;
    border-radius: 50%;
}

.nav-logo img {
    height: 100%;
    width: 100%;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.nav-items li {
    list-style: none;
    margin-right: 20px;
    transition: all 0.3s;
}

.nav-items li a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.nav-items li a:hover {
    color: var(--alt-primary-color);
}

.nav-items li:hover {
    transform: scale(1.3);
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100%; /* Ocupa todo el ancho (esto ya debería estar cubierto por el reset CSS) */
}
.form-container {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--dark-color);
    border: 4px solid var(--light-color);
    color: var(--light-color);
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0 0 10px var(--dark-color);
}

.form-container h3 {
    color: var(--alt-primary-color);
    font-family: 'Bangers', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}

.form-container form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.input-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'bangers', cursive;
    gap: 5px;
}

.input-container label {
    font-size: 20px;
}

.input-container input {
    width: 100%;
    height: 40px;
    border: 3px solid var(--primary-color);
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
}

.input-container button {
    width: 50%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--light-color);
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    background: var(--primary-color);
    color: var(--alt-primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.input-container span {
    font-size: 15px;
    color: var(--alt-primary-color);
}

.input-container span a {
    color: var(--light-color);
    text-decoration: none;
}

.input-container span a:hover {
    color: var(--alt-secondary-color);
}

.input-container button:hover {
    background: var(--alt-secondary-color);
    color: var(--dark-color);
    border: 3px solid var(--dark-color);
}

.form-logo {
    width: 200px;
    height: 200px;
    display: flex;
}

.rating-closing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rating-closing button {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border: 3px solid var(--light-color);
    border-radius: 20px;
    padding: 10px;
    color: var(--alt-primary-color);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.rating-closing button:hover {
    background: var(--alt-secondary-color);
    color: var(--dark-color);
    border: 3px solid var(--dark-color);
}

.socials {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border-radius: 50%;
    color: var(--alt-primary-color);
    font-size: 20px;
    border: 3px solid var(--light-color);
    transition: 0.3s;
}

.socials a:hover {
    background: var(--alt-secondary-color);
    color: var(--dark-color);
    border: 3px solid var(--dark-color);
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .form-container {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-items {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .nav-logo {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .nav-items {
        gap: 5px;
    }

    .nav-items li {
        margin-right: 0;
    }

    .form-container {
        width: 90%;
    }
}