<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Panel de Administración</title>
    <link rel="stylesheet" href="../static/css/adminpanel.css">
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <button class="menu-toggle" id="mobile-menu">
            <span class="fas fa-bars"></span>
        </button>        
        <ul class="nav-items">
            <li><a href="/adminpanel">Inicio</a></li>
            <li><a href="/userspanel">Usuarios</a></li>
            <li><a href="/games-panel">Juegos</a></li>
            <li><a href="/food-panel">Comida</a></li>
            <li><a href="/registrar-mesas">Mesas</a></li>
            <li><a href="/reservas-panel">Reservas</a></li>
            <li><a href="/pedidos-panel">Pedidos</a></li>
            <li><a href="/perfil_admin"><i class="fa-solid fa-user-gear"></i></a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="options-panel">
            <div class="option">
                <a href="/userspanel">
                    <i class="fa-solid fa-user"></i>
                </a>
                <span>Usuarios</span>
            </div>
            <div class="option">
                <a href="/games-panel">
                    <i class="fa-solid fa-dice"></i>
                </a>
                <span>Juegos</span>
            </div>
            <div class="option">
                <a href="/food-panel">
                    <i class="fa-solid fa-burger"></i>
                </a>
                <span>Comida</span>
            </div>
            <div class="option">
                <a href="/registrar-mesas">
                    <i class="fa-solid fa-utensils"></i>
                </a>
                <span>Mesas</span>
            </div>
            <div class="option">
                <a href="/adminpanel/orders">
                    <i class="fa-solid fa-bookmark"></i>
                </a>
                <span>Reservas</span>
            </div>
            <div class="option">
                <a href="/adminpanel/logout">
                    <i class="fa-solid fa-clipboard"></i>
                </a>
                <span>Pedidos</span>
            </div>
            <div class="option">
                <a href="/perfil_admin">
                    <i class="fa-solid fa-user-gear"></i>
                </a>
                <span>Perfil</span>
            </div>
            <div class="option">
                <a href="/logout">
                    <i class="fa-solid fa-sign-out"></i>
                </a>
                <span>Cerrar Sesión</span>
            </div>
        </div>
    </div>
    
    <script>
    document.getElementById('mobile-menu').addEventListener('click', function () {
        document.querySelector('.nav-items').classList.toggle('nav-items-active');
    });
</script>
</body>
</html>
