<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Panel de Administración</title>
    <link rel="stylesheet" href="../static/css/adminpanel.css">
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <ul class="nav-items">
            <li><a href="/adminpanel">Inicio</a></li>
            <li><a href="/userspanel">Usuarios</a></li>
            <li><a href="/game_panel">Juegos</a></li>
            <li><a href="/food_panel">Comida</a></li>
            <li><a href="">Mesas</a></li>
            <li><a href="">Reservas</a></li>
            <li><a href="">Pedidos</a></li>
            <li><a href="/logout">Cerrar Sesion</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="options-panel">
            <div class="option">
                <a href="/userspanel">
                    <i class="fa-solid fa-user"></i>
                </a>
                <span>Usuarios</span>
            </div>
            <div class="option">
                <a href="/game_panel">
                    <i class="fa-solid fa-dice"></i>
                </a>
                <span>Juegos</span>
            </div>
            <div class="option">
                <a href="/food_panel">
                    <i class="fa-solid fa-burger"></i>
                </a>
                <span>Comida</span>
            </div>
            <div class="option">
                <a href="/adminpanel/orders">
                    <i class="fa-solid fa-utensils"></i>
                </a>
                <span>Mesas</span>
            </div>
            <div class="option">
                <a href="/adminpanel/orders">
                    <i class="fa-solid fa-bookmark"></i>
                </a>
                <span>Reservas</span>
            </div>
            <div class="option">
                <a href="/adminpanel/logout">
                    <i class="fa-solid fa-clipboard"></i>
                </a>
                <span>Pedidos</span>
            </div>
            
            <div class="option">
                <a href="/perfil_admin">
                    <i class="fa-solid fa-user-gear"></i>
                </a>
                <span>Perfil</span>
            </div>
            <div class="option">
                <a href="/logout">
                    <i class="fa-solid fa-sign-out"></i>
                </a>
                <span>Cerrar Sesión</span>
            </div>
        </div>
    </div>
</body>