<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Menu de Comida</title>
        <link rel="stylesheet" href="../static/css/food-menu.css">
        <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="nav-logo">
                <img src="../static/images/logo.png" alt="Monster Dojo">
            </div>
            <button class="menu-toggle" id="mobile-menu">
                <span class="fas fa-bars"></span>
            </button>
            <div class="navbar-right">
                <a href="/">Home</a>
                <a href="#about">Sobre nosotros</a>
                <a href="#menu">Menú</a>
                <a href="#order">Ubicación</a>
                <a href="/login">Iniciar Sesión</a>
            </div>
        </div>
        <div class="container">
            <div class="menu-section">
                <div class="menu-category">
                    <h2>Aperitivos</h2>
                    <div class="menu-items">
                        <div class="menu-item">
                            <img src="../static/images/food/food1.jpg" alt="Food 1">
                            <div class="item-info">
                                <h3>Food 1</h3>
                                <p>Descripción del platillo 1</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                        <div class="menu-item">
                            <img src="../static/images/food/food2.jpg" alt="Food 2">
                            <div class="item-info">
                                <h3>Food 2</h3>
                                <p>Descripción del platillo 2</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="menu-category">
                    <h2>Platos Principales</h2>
                    <div class="menu-items">
                        <div class="menu-item">
                            <img src="../static/images/food/food3.jpg" alt="Food 3">
                            <div class="item-info">
                                <h3>Food 3</h3>
                                <p>Descripción del platillo 3</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                        <div class="menu-item">
                            <img src="../static/images/food/food4.jpg" alt="Food 4">
                            <div class="item-info">
                                <h3>Food 4</h3>
                                <p>Descripción del platillo 4</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                        <div class="menu-item">
                            <img src="../static/images/food/food3.jpg" alt="Food 3">
                            <div class="item-info">
                                <h3>Food 3</h3>
                                <p>Descripción del platillo 3</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                        <div class="menu-item">
                            <img src="../static/images/food/food4.jpg" alt="Food 4">
                            <div class="item-info">
                                <h3>Food 4</h3>
                                <p>Descripción del platillo 4</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                    </div>
                </div>           
            </div>
            <div class="menu-section" >
                <div class="menu-category">
                    <h2>Postres</h2>
                    <div class="menu-items">
                        <div class="menu-item">
                            <img src="../static/images/food/food5.jpg" alt="Food 5">
                            <div class="item-info">
                                <h3>Food 5</h3>
                                <p>Descripción del postre 1</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                        <div class="menu-item">
                            <img src="../static/images/food/food6.jpg" alt="Food 6">
                            <div class="item-info">
                                <h3>Food 6</h3>
                                <p>Descripción del postre 2</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                        <div class="menu-item">
                            <img src="../static/images/food/food11.jpg" alt="Food 11">
                            <div class="item-info">
                                <h3>Food 11</h3>
                                <p>Descripción del postre 3</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-section">
                <div class="menu-category">
                    <h2>Bebidas Sin alcohol</h2>
                    <div class="menu-items">
                        <div class="menu-item">
                            <img src="../static/images/food/food7.jpg" alt="Food 7">
                            <div class="item-info">
                                <h3>Food 7</h3>
                                <p>Descripción de la bebida 1</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                        <div class="menu-item">
                            <img src="../static/images/food/food8.jpg" alt="Food 8">
                            <div class="item-info">
                                <h3>Food 8</h3>
                                <p>Descripción de la bebida 2</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="menu-category">
                    <h2>Bebidas Alcohólicas</h2>
                    <div class="menu-items">
                        <div class="menu-item">
                            <img src="../static/images/food/food9.jpg" alt="Food 9">
                            <div class="item-info">
                                <h3>Food 9</h3>
                                <p>Descripción de la bebida 3</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                        <div class="menu-item">
                            <img src="../static/images/food/food10.jpg" alt="Food 10">
                            <div class="item-info">
                                <h3>Food 10</h3>
                                <p>Descripción de la bebida 4</p>
                            </div>
                            <button class="order-btn">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>