<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Panel de Productos/Comida</title>
    <!-- Link css -->
    <link rel="stylesheet" href="../static/css/food-panel.css">
    <link rel="stylesheet" href="../static/css/popup_panel.css">
    <!-- Link fonts -->
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Estilos para las alertas -->
    <style>
        .swal2-cancel {
            background-color: #192847 !important;
            color: #fff !important;
        }
        .swal2-confirm {
            background-color: #d48600 !important;
            color: #fff !important;
            width: 120px !important; 
        }

        .action-buttons {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        .action-buttons button {
            background-color: var(--alt-primary-color);
            color: var(--light-color);
            border: none;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }

        .action-buttons button i {
            pointer-events: none;
        }

        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            gap: 20px; 
        }

        .search-container button,
        .group-by-container button,
        .add-buttons button {
            margin-left: 10px;
            margin-right: 10px;
        }

        .add-buttons {
            display: flex;
            gap: 20px; /* Espacio entre los botones de agregar producto y categoría */
        }

        .add-product button,
        .add-category button {
            width: auto;
            background-color: var(--alt-primary-color);
            color: var(--light-color);
            font-size: 15px;
            border: none;
            padding: 10px;
            border-radius: 20px;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .group-by-container {
            display: flex;
            justify-content: flex-start;            
            align-items: center;
            margin-top: 10px;
            gap: 5px; 
        }

        .group-by-container label {
            font-size: 14px;
        }

        .group-by-container select {
            font-size: 14px;
            padding: 5px;
            width: 150px; /* Ajustar el tamaño del select */
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <ul class="nav-items">
            <li><a href="/adminpanel">Inicio</a></li>
            <li><a href="/userspanel">Usuarios</a></li>
            <li><a href="/juegos">Juegos</a></li>
            <li><a href="/food_panel">Comida</a></li>
            <li><a href="/mesas">Mesas</a></li>
            <li><a href="/reservas">Reservas</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
            <li><a href="/perfil_admin"><i class="fa-solid fa-user-gear"></i></a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="actions-container">
            <form method="GET" action="/food_panel">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Buscar producto" value="{{ request.args.get('search', '') }}">
                    <button type="submit">Buscar <i class="fa-solid fa-search"></i></button>
                </div>
                <div class="group-by-container">
                    <label for="group_by">Agrupar por:</label>
                    <select name="group_by" id="group_by" onchange="this.form.submit()">
                        <option value="">Todos</option>
                        <option value="archivados" {% if selected_category == 'archivados' %}selected{% endif %}>Productos Archivados</option>
                        {% for categoria in categorias %}
                        <option value="{{ categoria.id_catProducto }}" {% if categoria.id_catProducto == selected_category %}selected{% endif %}>{{ categoria.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

            <div class="add-buttons">
                <button id="addProductBtn"><i class="fa-solid fa-burger"></i> Agregar Producto</button>
                <button id="addCategoryBtn"><i class="fa-solid fa-list"></i> Agregar Categoría</button>
            </div>
        </div>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>ID <a href="{{ url_for('food_panel', search=request.args.get('search', ''), sort_by='id_producto', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'id_producto') == 'id_producto' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                        <th>Nombre <a href="{{ url_for('food_panel', search=request.args.get('search', ''), sort_by='nombre', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'nombre') == 'nombre' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                        <th>Descripción <a href="{{ url_for('food_panel', search=request.args.get('search', ''), sort_by='descripcion', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'descripcion') == 'descripcion' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                        <th>Precio <a href="{{ url_for('food_panel', search=request.args.get('search', ''), sort_by='precio', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'precio') == 'precio' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                        <th>Máx. Personas <a href="{{ url_for('food_panel', search=request.args.get('search', ''), sort_by='max_personas', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'max_personas') == 'max_personas' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                        <th>Imagen</th>
                        <th>Categoría <a href="{{ url_for('food_panel', search=request.args.get('search', ''), sort_by='categoria_producto_id_catProducto', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'categoria_producto_id_catProducto') == 'categoria_producto_id_catProducto' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id_producto }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.max_personas }}</td>
                        <td><img src="{{ producto.imagen }}" alt="Imagen de {{ producto.nombre }}" width="100"></td>
                        <td>{{ producto.categoria_producto.nombre }}</td>
                        <td>
                            <div class="action-buttons">
                                <button class="editProductBtn" data-id="{{ producto.id_producto }}"><i class="fa-solid fa-edit"></i></button>
                                {% if producto.activo %}
                                    <button class="deleteProductBtn" onclick="confirmDelete(event, '{{ producto.id_producto }}')"><i class="fa-solid fa-trash"></i></button>
                                {% else %}
                                    <button class="unarchiveProductBtn" onclick="confirmUnarchive(event, '{{ producto.id_producto }}')"><i class="fa-solid fa-box-open"></i></button>
                                {% endif %}
                            </div>
                        </td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- REGISTRAR NUEVO PRODUCTO POP-UP -->
    <div class="popup" id="contactPopup">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <img src="../static/images/menu.png" alt="Product Icon" class="product-icon">
            <h2>REGISTRO NUEVO PRODUCTO</h2>
            <div class="step-indicator">
                <div class="step-container">
                    <span class="step" onclick="showTab(0)" id="step1">1</span>
                    <span class="step-line"></span>
                    <span class="step" onclick="showTab(1)" id="step2">2</span>
                    <span class="step-line"></span>
                    <span class="step" onclick="showTab(2)" id="step3">3</span>
                </div>
            </div>
            <form id="regForm" action="/add_producto" method="POST" enctype="multipart/form-data" onsubmit="handleProductoSubmit(event)">
                <div class="tab">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" required>
                        <span class="error-message" id="error-nombre"></span>
                    </div> 
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input type="text" id="descripcion" name="descripcion" required>
                        <span class="error-message" id="error-descripcion"></span>
                    </div>
                </div>
                <div class="tab"> 
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input type="number" id="precio" name="precio" step="0.01" required>
                        <span class="error-message" id="error-precio"></span>
                    </div>
                    <div class="form-group">
                        <label for="max_personas">Máx. Personas</label>
                        <input type="number" id="max_personas" name="max_personas" required>
                        <span class="error-message" id="error-max_personas"></span>
                    </div>
                </div>
                <div class="tab">
                    <div class="form-group">
                        <label for="imagen">Imagen</label>
                        <input type="file" id="imagen" name="imagen" accept="image/png, image/jpeg, image/jpg" required>
                        <span class="error-message" id="error-imagen"></span>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoría</label>
                        <select id="categoria" name="categoria" required>
                            {% for categoria in categorias %}
                            <option value="{{ categoria.id_catProducto }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="buttons">
                        <button type="submit">Registrar</button>
                        <button type="button" onclick="confirmCancel('regForm')">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- EDITAR PRODUCTO (COMIDA) POP-UP -->
<div class="popup" id="editPopup">
    <div class="popup-content">
        <span class="close-btn" onclick="closeEditPopup()">&times;</span>
        <img src="../static/images/hamburguer.png" alt="Product Icon" class="product-icon">
        <h2>EDITAR PRODUCTO</h2>
        <div class="step-indicator">
            <div class="step-container">
                <span class="step" onclick="showEditTab(0)" id="step1">1</span>
                <span class="step-line"></span>
                <span class="step" onclick="showEditTab(1)" id="step2">2</span>
                <span class="step-line"></span>
                <span class="step" onclick="showEditTab(2)" id="step3">3</span>
            </div>
        </div>
        <form id="editForm" method="POST" onsubmit="handleEditProductoSubmit(event)">
            <div class="tab">
                <div class="form-group">
                    <label for="edit_nombre">Nombre</label>
                    <input type="text" id="edit_nombre" name="nombre" required>
                    <span class="error-message" id="edit-error-nombre"></span>
                </div> 
                <div class="form-group">
                    <label for="edit_descripcion">Descripción</label>
                    <input type="text" id="edit_descripcion" name="descripcion" required>
                    <span class="error-message" id="edit-error-descripcion"></span>
                </div>
            </div>
            <div class="tab"> 
                <div class="form-group">
                    <label for="edit_precio">Precio</label>
                    <input type="number" id="edit_precio" name="precio" step="0.01" required>
                    <span class="error-message" id="edit-error-precio"></span>
                </div>
                <div class="form-group">
                    <label for="edit_max_personas">Máx. Personas</label>
                    <input type="number" id="edit_max_personas" name="max_personas" required>
                    <span class="error-message" id="edit-error-max_personas"></span>
                </div>
            </div>
            <div class="tab">
                <div class="form-group">
                    <label for="edit_imagen">Imagen</label>
                    <input type="file" id="edit_imagen" name="imagen" accept="image/png, image/jpeg, image/jpg">
                    <span class="error-message" id="edit-error-imagen"></span>
                </div>
                <div class="form-group">
                    <label for="edit_categoria">Categoría</label>
                    <select id="edit_categoria" name="categoria" required>
                        {% for categoria in categorias %}
                        <option value="{{ categoria.id_catProducto }}">{{ categoria.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="buttons">
                    <button type="submit">Guardar Cambios</button>
                    <button type="button" onclick="confirmCancel('editForm')">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--enrutado-->
    <!-- AGREGAR CATEGORÍA POP-UP -->
    <div class="popup" id="categoryPopup">
        <div class="popup-content">
            <span class="close-btn" onclick="closeCategoryPopup()">&times;</span>
            <img src="../static/images/category.png" alt="Category Icon" class="product-icon">
            <h2>REGISTRO NUEVA CATEGORÍA</h2>
            <form id="categoryForm" action="/add_category" method="POST" onsubmit="handleCategorySubmit(event)">
                <div class="form-group">
                    <label for="categoria_nombre">Nombre de la categoría</label>
                    <input type="text" id="categoria_nombre" name="nombre" required>
                    <span class="error-message" id="error-categoria_nombre"></span>
                </div>
                <div class="buttons">
                    <button type="submit">Registrar</button>
                    <button type="button" onclick="confirmCancel('categoryForm')">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- SCRIPT POP-UP -->
    <script>
        let currentTab = 0;
        showTab(currentTab);

        document.getElementById('addProductBtn').addEventListener('click', function() {
            document.getElementById('contactPopup').style.display = 'block';
        });

        document.getElementById('addCategoryBtn').addEventListener('click', function() {
            document.getElementById('categoryPopup').style.display = 'block';
        });


        document.querySelectorAll('.editProductBtn').forEach(button => {
        button.addEventListener('click', function() {
            const productId = button.getAttribute('data-id');
            fetch(`/get_producto/${productId}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('edit_nombre').value = data.nombre;
                    document.getElementById('edit_descripcion').value = data.descripcion;
                    document.getElementById('edit_precio').value = data.precio;
                    document.getElementById('edit_max_personas').value = data.max_personas;
                    document.getElementById('edit_categoria').value = data.categoria_producto_id_catProducto;
                    document.getElementById('editForm').action = `/update_producto/${productId}`;
                    document.getElementById('editPopup').style.display = 'block';
                    showEditTab(0);
                })
                .catch(error => console.error('Error al cargar los datos del producto:', error));
        });
    });
    
        function showTab(n) {
            let tabs = document.getElementById("regForm").getElementsByClassName("tab");
            for (let i = 0; i < tabs.length; i++) {
                tabs[i].style.display = "none";
            }
            tabs[n].style.display = "block";

            let steps = document.getElementById("contactPopup").getElementsByClassName("step");
            let lines = document.getElementById("contactPopup").getElementsByClassName("step-line");
            for (let i = 0; i < steps.length; i++) {
                steps[i].className = steps[i].className.replace(" active", "");
                if (i < lines.length) {
                    lines[i].className = lines[i].className.replace(" active", "");
                }
            }
            steps[n].className += " active";
            for (let i = 0; i < n; i++) {
                lines[i].className += " active";
            }
        }

        function showEditTab(n) {
            let tabs = document.getElementById("editForm").getElementsByClassName("tab");
            for (let i = 0; i < tabs.length; i++) {
                tabs[i].style.display = "none";
            }
            tabs[n].style.display = "block";

            let steps = document.getElementById("editPopup").getElementsByClassName("step");
            let lines = document.getElementById("editPopup").getElementsByClassName("step-line");
            for (let i = 0; i < steps.length; i++) {
                steps[i].className = steps[i].className.replace(" active", "");
                if (i < lines.length) {
                    lines[i].className = lines[i].className.replace(" active", "");
                }
            }
            steps[n].className += " active";
            for (let i = 0; i < n; i++) {
                lines[i].className += " active";
            }
        }

        function closePopup() {
            document.getElementById('contactPopup').style.display = 'none';
        }

        function closeEditPopup() {
            document.getElementById('editPopup').style.display = 'none';
        }

        function closeCategoryPopup() {
            document.getElementById('categoryPopup').style.display = 'none';
        }

        function clearForm() {
            document.getElementById("regForm").reset();
        }

        function clearEditForm() {
            document.getElementById("editForm").reset();
        }

        function clearCategoryForm() {
            document.getElementById("categoryForm").reset();
        }

        function confirmCancel(formType) {
            let confirmMessage;
            if (formType === 'regForm') {
                confirmMessage = '¿Está seguro de cancelar? Se perderán los datos.';
            } else if (formType === 'editForm') {
                confirmMessage = '¿Está seguro de cancelar? Se perderán sus cambios.';
            } else {
                confirmMessage = '¿Está seguro de cancelar? Se perderán los datos.';
            }

            Swal.fire({
                title: '¿Está seguro?',
                text: confirmMessage,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, cancelar',
                cancelButtonText: 'No, mantener',
                customClass: {
                    confirmButton: 'swal2-confirm',
                    cancelButton: 'swal2-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    if (formType === 'regForm') {
                        closePopup();
                        clearForm();
                    } else if (formType === 'editForm') {
                        closeEditPopup();
                        clearEditForm();
                    } else {
                        closeCategoryPopup();
                        clearCategoryForm();
                    }
                }
            });
        }

        function handleProductoSubmit(event) {
            event.preventDefault();
            const form = event.target;
            fetch(form.action, {
                method: form.method,
                body: new FormData(form)
            })
            .then(response => {
                if (response.ok) {
                    showSuccessMessage(event, 'contactPopup', 'regForm', 'Producto registrado con éxito');
                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('Error al registrar el producto:', error);
                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un problema al registrar el producto.',
                    icon: 'error',
                    confirmButtonText: 'OK',
                    customClass: {
                        confirmButton: 'swal2-confirm'
                    }
                });
            });
        }

        //manejar posteo categoria
        function handleCategorySubmit(event) {
            event.preventDefault();
            const form = event.target;
            fetch(form.action, {
                method: form.method,
                body: new FormData(form)
            })
            .then(response => {
                if (response.ok) {
                    showSuccessMessage(event, 'categoryPopup', 'categoryForm', 'Categoría registrada con éxito');
                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('Error al registrar la categoría:', error);
                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un problema al registrar la categoría.',
                    icon: 'error',
                    confirmButtonText: 'OK',
                    customClass: {
                        confirmButton: 'swal2-confirm'
                    }
                });
            });
        }
    

        //posteo editar producto
        function handleEditProductoSubmit(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);

        fetch(form.action, {
            method: form.method,
            body: formData
        })
        .then(response => {
            if (response.ok) {
                showSuccessMessage(event, 'editPopup', 'editForm', 'Producto actualizado con éxito');
            } else {
                return response.text().then(text => { throw new Error(text); });
            }
        })
        .catch(error => {
            console.error('Error al actualizar el producto:', error);
            Swal.fire({
                title: 'Error',
                text: 'Hubo un problema al actualizar el producto.',
                icon: 'error',
                confirmButtonText: 'OK',
                customClass: {
                    confirmButton: 'swal2-confirm'
                }
            });
        });
    }

        function showSuccessMessage(event, popupId, formId, message) {
            event.preventDefault();
            Swal.fire({
                title: '¡Éxito!',
                text: message,
                icon: 'success',
                confirmButtonText: 'OK',
                customClass: {
                    confirmButton: 'swal2-confirm'
                }
            }).then(() => {
                document.getElementById(popupId).style.display = 'none';
                document.getElementById(formId).reset();
                window.location.href = "/food_panel";
            });
        }

        function confirmDelete(event, productId) {
            event.preventDefault(); // Prevenir la acción predeterminada del botón
            Swal.fire({
                title: '¿Está seguro?',
                text: '¿Está seguro de archivar el producto?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, archivar',
                cancelButtonText: 'No, cancelar',
                customClass: {
                    confirmButton: 'swal2-confirm',
                    cancelButton: 'swal2-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/delete_producto/${productId}`, {
                        method: 'POST'
                    })
                    .then(response => {
                        if (response.ok) {
                            Swal.fire('¡Archivado!', 'El producto ha sido archivado.', 'success').then(() => {
                                window.location.href = "/food_panel";  // Redirigir al panel de productos/comida para ver los cambios
                            });
                        } else {
                            return response.text().then(text => { throw new Error(text); });
                        }
                    })
                    .catch(error => {
                        console.error('Error al archivar el producto:', error);
                        Swal.fire({
                            title: 'Error',
                            text: 'Hubo un problema al archivar el producto.',
                            icon: 'error',
                            confirmButtonText: 'OK',
                            customClass: {
                                confirmButton: 'swal2-confirm'
                            }
                        });
                    });
                }
            });
        }
        function confirmUnarchive(event, productId) {
            event.preventDefault();
            Swal.fire({
                title: '¿Está seguro?',
                text: '¿Está seguro de desarchivar el producto?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, desarchivar',
                cancelButtonText: 'No, cancelar',
                customClass: {
                    confirmButton: 'swal2-confirm',
                    cancelButton: 'swal2-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/unarchive_producto/${productId}`, {
                        method: 'POST'
                    }).then(() => {
                        Swal.fire('¡Desarchivado!', 'El producto ha sido desarchivado.', 'success')
                            .then(() => window.location.reload());
                    }).catch(error => {
                        Swal.fire('Error', 'No se pudo desarchivar el producto.', 'error');
                    });
                }
            });
        }


    </script>
</body>
</html>
