<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Menu de Juegos</title>
    <link rel="stylesheet" href="../static/css/game-menu.css">
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <button class="menu-toggle" id="mobile-menu">
            <span class="fas fa-bars"></span>
        </button>
        <div class="navbar-right">
            <a href="/">Home</a>
            <a href="#about">Sobre nosotros</a>
            <a href="#menu">Menú</a>
            <a href="#order">Ubicación</a>
            <a href="/login">Iniciar Sesión</a>
        </div>
    </div>
    <div class="container">
        <div class="filters">
            <div class="filter-option">
                <label for="category">Categoría:</label>
                <select name="category" id="category">
                    <option value="all">Todos</option>
                    <option value="action">Acción</option>
                    <option value="adventure">Aventura</option>
                    <option value="puzzle">Rompecabezas</option>
                    <option value="strategy">Estrategia</option>
                </select>
            </div>
            <div class="filter-option">
                <label for="players">Jugadores:</label>
                <select name="players" id="players">
                    <option value="single">1 jugador</option>
                    <option value="duo">2 jugadores</option>
                    <option value="multiplayer">3 - 5 jugadores</option>
                    <option value="party">6 - 10 jugadores</option>
                </select>
            </div>
            <div class="filter-option">
                <label for="search">Buscar un juego:</label>
                <input id="search" class="search-bar" type="text" placeholder="Ingrese el nombre del juego...">
            </div>
        </div>
        <div class="game-menu">
            <div class="game-card">
                <img src="../static/images/games/game1.jpg" alt="Game 1">
                <div class="game-info">
                    <h3>Game 1</h3>
                    <p>Descripción del juego 1</p>
                    <ul class="tags">
                        <li>
                            <i class="fas fa-gamepad"></i>
                            <span>Acción</span>
                        </li>
                        <li>
                            <i class="fas fa-users"></i>
                            <span>1 jugador</span>
                        </li>
                    </ul>
                    <a href="">Solicitar</a>
                </div>
            </div>
            <div class="game-card">
                <img src="../static/images/games/game1.jpg" alt="Game 1">
                <div class="game-info">
                    <h3>Game 1</h3>
                    <p>Descripción del juego 1</p>
                    <ul class="tags">
                        <li>
                            <i class="fas fa-gamepad"></i>
                            <span>Acción</span>
                        </li>
                        <li>
                            <i class="fas fa-users"></i>
                            <span>1 jugador</span>
                        </li>
                    </ul>
                    <a href="">Solicitar</a>
                </div>
            </div>
            <div class="game-card">
                <img src="../static/images/games/game1.jpg" alt="Game 1">
                <div class="game-info">
                    <h3>Game 1</h3>
                    <p>Descripción del juego 1</p>
                    <ul class="tags">
                        <li>
                            <i class="fas fa-gamepad"></i>
                            <span>Acción</span>
                        </li>
                        <li>
                            <i class="fas fa-users"></i>
                            <span>1 jugador</span>
                        </li>
                    </ul>
                    <a href="">Solicitar</a>
                </div>
            </div>
            <div class="game-card">
                <img src="../static/images/games/game1.jpg" alt="Game 1">
                <div class="game-info">
                    <h3>Game 1</h3>
                    <p>Descripción del juego 1</p>
                    <ul class="tags">
                        <li>
                            <i class="fas fa-gamepad"></i>
                            <span>Acción</span>
                        </li>
                        <li>
                            <i class="fas fa-users"></i>
                            <span>1 jugador</span>
                        </li>
                    </ul>
                    <a href="">Solicitar</a>
                </div>
            </div>
            <div class="game-card">
                <img src="../static/images/games/game1.jpg" alt="Game 1">
                <div class="game-info">
                    <h3>Game 1</h3>
                    <p>Descripción del juego 1</p>
                    <ul class="tags">
                        <li>
                            <i class="fas fa-gamepad"></i>
                            <span>Acción</span>
                        </li>
                        <li>
                            <i class="fas fa-users"></i>
                            <span>1 jugador</span>
                        </li>
                    </ul>
                    <a href="">Solicitar</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>