<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Willy y la fábrica de software">
    <title>Monster Dojo</title>
   
    <!-- font icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

     <!-- google fonts icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

    <!-- Index styles -->
	<link rel="stylesheet" href="/static/css/index.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <!-- Navbar -->
    <nav class="custom-navbar navbar navbar-expand-lg navbar-dark fixed-top" data-spy="affix" data-offset-top="10">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#gallary">Menú</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#book-table">Reservas</a>
                </li>
            </ul>
            <a class="navbar-brand m-auto" href="#">
                <img src="/static/images/logo_md.png" class="brand-img" alt="">
                <span class="brand-txt">Monster Dojo</span>
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#blog">Pedidos<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testmonial">Calificaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contacto</a>
                </li>
                <li class="nav-item">
                     <!-- inicio de sesión -->
                    <a href="" class="btn btn-primary ml-xl-4">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- header -->
    <header id="home" class="header">
        <div class="overlay text-white text-center">
            <h1 class="display-2 font-weight-bold my-3">Monster Dojo</h1>
            <h3 class="display-4 mb-5">¡Bienvenidos al Monster Dojo! Un espacio para disfrutar de deliciosa comida, bebidas calientes y frías y, sobre todo, ¡juegos de mesa!</h3>
            <a class="btn btn-lg btn-primary" href="#gallary">Explora nuestro menú</a>
        </div>
    </header>

    <!--  Sobre nosotros Section  -->
    <div id="about" class="container-fluid wow fadeIn" id="about"data-wow-duration="1.5s">
        <div class="row">
            <div class="col-lg-6 has-img-bg"></div>
            <div class="col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-sm-8 py-5 my-5">
                        <h2 class="mb-4">Sobre Nosotros:</h2>
                        <p> ¡Bienvenidos a Monster Dojo! Somos más que un restaurante: somos tu destino ideal para disfrutar de una experiencia única combinando deliciosas comidas y bebidas con entretenimiento sin igual. 
                            En Monster Dojo, te ofrecemos una variada selección de juegos de mesa que prometen horas de diversión y risas. Nuestro compromiso con una atención de primera y ambientes acogedores hacen de cada visita una ocasión especial. Además, facilitamos tu comodidad con servicios en línea para que puedas disfrutar de nuestra oferta gastronómica y de entretenimiento desde donde estés. Ven a descubrir por qué en Monster Dojo, cada momento es una aventura deliciosa y divertida.</p>
                    </div>
                </div>
            </div>s
        </div>
    </div>

    <!--  Gallery Menú Section  -->
    <div id="gallary" class="text-center bg-dark text-light has-height-md middle-items wow fadeIn">
        <h2 class="section-title">🍹 Navega en nuestro menú 🍕</h2>
    </div>
    <div class="gallary row">
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food1.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food2.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food3.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food4.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food5.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food6.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food7.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food8.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food9.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food10.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food11.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="/static/images/food12.jpg" alt="" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
      
    </div>

    <!-- Reservas de mesa -->
    <div class="container-fluid has-bg-overlay text-center text-light has-height-lg middle-items" id="book-table">
        <div class="">
            <h2 class="section-title mb-5">🪑 Reserva tu mesa! 📝</h2>
             <!-- Acá redireccionamos a nuestro formulario de reservas  -->
            <a href="#" class="btn btn-lg btn-primary" id="rounded-btn">Reservas</a>
            <a href="#" class="btn btn-lg btn-primary" id="rounded-btn">Pedidos</a>
        </div>
    </div>

    <!-- Calificaciones por la app  -->
    <div id="testmonial" class="container-fluid wow fadeIn bg-dark text-light has-height-lg middle-items">
        <h2 class="section-title my-5 text-center">CALIFICANOS! 🌟</h2>
        <div class="row mt-3 mb-5">
            <div class="col-md-4 my-3 my-md-0">
                <div class="testmonial-card">
                    <h3 class="testmonial-title">Monster Dojo</h3>
                    <h6 class="testmonial-subtitle">Aplicación</h6>
                    <div class="testmonial-body">
                        <p>Descripción de la aplicación</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ubicación  -->
    <div id="contact" class="container-fluid bg-dark text-light border-top wow fadeIn">
        <div class="row">
            <div class="col-md-6 px-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d2274.5309228395176!2d-68.12594440274187!3d-16.51146091685369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d-16.511795199999998!2d-68.1377792!4m3!3m2!1d-16.5108396!2d-68.12407!5e0!3m2!1ses-419!2sbo!4v1713545376775!5m2!1ses-419!2sbo" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-6 px-5 has-height-lg middle-items">
                <h3>Ubicación 📍</h3>
                <p>Encuentranos en el centro única sucursal de la ciudad de La Paz, Bolivia.</p>
                <div class="text-muted">
                    <p><span class="fa-solid fa-map-pin"></span> Pasaje Hermanos Manchego 2546 (Sopocachi), La Paz, Bolivia</p>
                    <p><span class="fa-solid fa-mobile-button"></span> 69904327</p>
                    <p><span class="fa-solid fa-envelope"></span> kaijumonsterdojo@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <!-- footer redes sociales  -->
    <div class="container-fluid bg-dark text-light has-height-md middle-items border-top text-center wow fadeIn">
        <div class="row">
            <div class="centrado-social col-sm-4">
                    <h2>SÍGUENOS EN 📲</h2>
                <br>
                <br>
                <br>
                <center>
                <div class="footer-social-media">
                    <div class="social-menu">
                        <ul>
                            <li><a href="https://www.facebook.com/monsterdojoBO/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/monster.dojo?fbclid=IwZXh0bgNhZW0CMTAAAR1WPIU3x90NBQ40AVuFg6nRMv3uV0D2tRU3_kk1DceRJQy2dNcvhWafPXk_aem_AfHvXe3uWEi0-WSkTUzAsET7HigHsubTugnFw8qfkt-5ryGH0I_tZHC0oK_-g85S9rMbhbA4jvjqi2PSFT2Amjb-" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.tiktok.com/@monsterdojo" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        </ul>
                     </div>
                </div>
            </center>
            </div>
        </div>
    </div>
    
    <div class="bg-dark text-light text-center border-top wow fadeIn">
        <p><a>Willy y la fábrica de software 💻</a></p>
    </div>
    <!-- end of page footer -->

    </body>
</body>
</html>



