<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Recuperar Contraseña</title>
    <link rel="stylesheet" href="..\static\css\userforms.css">
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img class="head-logo" src="..\static\images\logo.png" alt="Monster Dojo">
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="login.html">Iniciar Sesión</a></li>
                <li><a href="register.html">Registrarse</a></li>
            </ul>
        </nav>
        <div class="header-content">
            <div class="rating-closing">
                <button>
                    <i class="fas fa-star"></i>
                    <span>4.5</span>
                </button>
                <button>
                    <i class="fas fa-clock"></i>
                    <span>Abierto</span>
                </button>
            </div>
            <div class="socials">
                <a href="" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="" target="_blank">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="form-container">
            <form>
                <h3>Recuperar Contraseña</h3>
                <div class="input-container">
                    <label for="new-pass">Nueva contraseña</label>
                    <input type="password" id="new-pass" name="new-password" required>
                </div>
                <div class="input-container">
                    <label for="confirm-pass">Confirmar contraseña</label>
                    <input type="password" id="confirm-pass" name="confirm-password" required>
                </div>
                <div class="input-container">
                    <button type="submit">Guardar Cambios</button>
                </div> 
            </form>
        </div>
    </div>
</body>

</html>