<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Recuperar Contraseña</title>
    <link rel="stylesheet" href="..\static\css\userforms.css">
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <ul class="nav-items">
            <li><a href="">Inicio</a></li>
            <li><a href="">Juegos</a></li>
            <li><a href="">Comida</a></li>
            <li><a href="">Reservas</a></li>
            <li><a href="">Iniciar Sesion</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="form-container">
            <form action="/new_password" method="POST" id="change-password-form">
                <h3>Recuperar Contraseña</h3>
                <div class="input-container">
                    <label for="new-password">Nueva contraseña</label>
                    <input type="password" id="new-password" name="new-password" required>
                    <span class="error-message" id="error-password"></span>
                </div>
                <div class="input-container">
                    <label for="confirm-password">Confirmar contraseña</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                    <span class="error-message" id="error-confirm-password"></span>
                </div>
                <div class="input-container">
                    <button type="submit">Guardar Cambios</button>
                </div> 
            </form>
        </div>
    </div>
</body>

<script>

    document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("change-password-form");
    form.addEventListener("submit", function(event) {
        let valid = true;

        const password = document.getElementById("new-password");
        const confirmPassword = document.getElementById("confirm-password");

        // Limpiar mensajes de error anteriores
        document.querySelectorAll('.error-message').forEach(function(element) {
            element.textContent = '';
        });

        // Validación de contraseña
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        if (!password.value.match(passwordRegex)) {
            document.getElementById('error-password').textContent = "La contraseña debe tener al menos 8 caracteres, incluir al menos una letra mayúscula, una letra minúscula, un número y un caracter especial.";
            valid = false;
        }

        // Confirmación de contraseña
        if (password.value !== confirmPassword.value) {
            document.getElementById('error-confirm-password').textContent = "Las contraseñas no coinciden.";
            valid = false;
        }

        if (!valid) {
            event.preventDefault(); // Solo evita el envío si hay un error
        }
    });
});
</script>
</html>