<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Registrarse</title>
    <link rel="stylesheet" href="../static/css/userforms.css">
    <link rel="stylesheet" href="../static/css/perfil_usuario.css">
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <ul class="nav-items">
            <li><a href="/templates/inicio_usuario.html">Inicio</a></li>
            <li><a href="/templates/inicio.html">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="form-container">
            <form id="registration-form" action="/register" method="POST">
                <h3>Perfil de usuario</h3>
                <div class="profile-photo-container">
                    <img src="../static/images/user_photo.png" alt="Foto de usuario" class="profile-photo">
                    <button type="button" class="btn edit-photo-btn">Editar</button>
                </div>
                <div class="input-container">
                    <label for="name">Nombre</label>
                    <div class="input-with-icon">
                        <input type="text" id="name" name="name" required>
                        <i class="fas fa-edit"></i>
                        <span class="error-message" id="error-name"></span>
                    </div>
                </div>
                <div class="input-container">
                    <label for="email">Correo Electrónico</label>
                    <div class="input-with-icon">
                        <input type="text" id="email" name="email" required>
                        <span class="error-message" id="error-email"></span>
                        <i class="fas fa-edit"></i>
                    </div>
                </div>
                <div class="input-container">
                    <label for="phone">Teléfono</label>
                    <div class="input-with-icon">
                        <input type="phone" id="phone" name="phone" required>
                        <span class="error-message" id="error-phone"></span>
                        <i class="fas fa-edit"></i>
                    </div>
                </div>
                <div class="input-container">
                    <label for="password">Contraseña</label>
                    <div class="input-with-icon">
                        <input type="password" id="password" name="password" required>
                        <span class="error-message" id="error-password"></span>
                        <i class="fas fa-edit"></i>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn">Guardar cambios</button>
                    <button type="button" class="btn" onclick="window.location.href='/templates/inicio_usuario.html'">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("registration-form");
            form.addEventListener("submit", function (event) {
                let valid = true;

                const email = document.getElementById("email");
                const name = document.getElementById("name");
                const phone = document.getElementById("phone");
                const password = document.getElementById("password");
                const confirmPassword = document.getElementById("confirm-password");

                // Limpiar mensajes de error anteriores
                document.querySelectorAll('.error-message').forEach(function (element) {
                    element.textContent = '';
                });

                // Validación de email
                const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
                if (!email.value.match(emailRegex)) {
                    document.getElementById('error-email').textContent = "Por favor ingresa un correo electrónico válido.";
                    valid = false;
                }

                // Validación de nombre
                if (!name.value.trim()) {
                    document.getElementById('error-name').textContent = "El nombre no puede estar vacío.";
                    valid = false;
                }

                // Validación de teléfono
                const phoneRegex = /^\d+$/; // Solo números
                if (!phone.value.match(phoneRegex)) {
                    document.getElementById('error-phone').textContent = "Por favor ingresa un número de teléfono válido. Solo se permiten números.";
                    valid = false;
                }

                // Validación de contraseña
                const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                if (!password.value.match(passwordRegex)) {
                    document.getElementById('error-password').textContent = "La contraseña debe tener al menos 8 caracteres, incluir al menos una letra mayúscula, una letra minúscula, un número y un caracter especial.";
                    valid = false;
                }

                // Confirmación de contraseña
                if (password.value !== confirmPassword.value) {
                    document.getElementById('error-confirm-password').textContent = "Las contraseñas no coinciden.";
                    valid = false;
                }

                if (!valid) {
                    event.preventDefault(); // Solo evita el envío si hay un error
                }
            });
        });
    </script>
</body>

</html>