<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recibo</title>
    <link rel="stylesheet" href="../static/css/receipt.css">
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <button class="menu-toggle" id="mobile-menu">
            <span class="fas fa-bars"></span>
        </button>
        <div class="navbar-right">
            <a href="/">Home</a>
            <a href="#about">Sobre nosotros</a>
            <a href="#menu">Menú</a>
            <a href="#order">Ubicación</a>
            <a href="/login">Iniciar Sesión</a>
        </div>
    </div>

    <div class="container">
        <div class="receipt-section">
            <h2>Recibo</h2>
            <div class="date">
                <label for="date">Fecha:</label>
                <p id="date">2021-12-31</p>
            </div>
            <ul class="receipt-info">
                <li>
                    <h4>Burger 1</h4>
                    <span id="cantidad">3</span>
                    <span id="price">$10.00</span>
                </li>
                <li>
                    <h4>Burger 2</h4>
                    <span id="cantidad">2</span>
                    <span id="price">$12.00</span>
                </li>
                <li>
                    <h4>Burger 3</h4>
                    <span id="cantidad">1</span>
                    <span id="price">$15.00</span>
                </li>
                <li>
                    <h4>Bebida 1</h4>
                    <span id="cantidad">4</span>
                    <span id="price">$5.00</span>
                </li>
                <li>
                    <h4>Bebida 2</h4>
                    <span id="cantidad">2</span>
                    <span id="price">$3.00</span>
                </li>
            </ul>
            <div class="total">
                <label for="total">Total:</label>
                <p id="total">$45.00</p>
            </div>
        </div>
    </div>
</body>
</html>