<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Panel registro mesas</title>
    <!-- Link css -->
    <link rel="stylesheet" href="../static/css/food-panel.css">
    <link rel="stylesheet" href="../static/css/popup_panel.css">
    <!-- Link fonts -->
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Estilos para las alertas -->
    <style>
        .swal2-cancel {
            background-color: #192847 !important;
            color: #fff !important;
        }
        .swal2-confirm {
            background-color: #d48600 !important;
            color: #fff !important;
            width: 120px !important; 
        }

        .action-buttons {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        .action-buttons button {
            background-color: var(--alt-primary-color);
            color: var(--light-color);
            border: none;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }

        .action-buttons button i {
            pointer-events: none;
        }

        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            gap: 20px; 
        }

        .search-container button,
        .group-by-container button,
        .add-buttons button {
            margin-left: 10px;
            margin-right: 10px;
        }

        .add-buttons {
            display: flex;
            gap: 20px; /* Espacio entre los botones de agregar producto y categoría */
        }

        .add-product button,
        .add-category button {
            width: auto;
            background-color: var(--alt-primary-color);
            color: var(--light-color);
            font-size: 15px;
            border: none;
            padding: 10px;
            border-radius: 20px;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .group-by-container {
            display: flex;
            justify-content: flex-start;            
            align-items: center;
            margin-top: 10px;
            gap: 5px; 
        }

        .group-by-container label {
            font-size: 14px;
        }

        .group-by-container select {
            font-size: 14px;
            padding: 5px;
            width: 150px; /* Ajustar el tamaño del select */
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <div class="nav-hamburger">
            <i class="fa fa-bars"></i>
        </div>
        <ul class="nav-items">
            <li><a href="/adminpanel">Inicio</a></li>
            <li><a href="/userspanel">Usuarios</a></li>
            <li><a href="/game_panel">Juegos</a></li>
            <li><a href="/food_panel">Comida</a></li>
            <li><a href="/registro_mesa">Mesas</a></li>
            <li><a href="/reservas_panel">Reservas</a></li>
            <li><a href="/pedidos_panel">Pedidos</a></li>
            <li><a href="/perfil_admin"><i class="fa-solid fa-user-gear"></i></a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="title">Registro de mesas</div>
        <div class="actions-container">
            <form method="GET" action="/registro_mesa">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Buscar mesa">
                    <button type="submit">Buscar <i class="fa-solid fa-search"></i></button>
                </div>
                <div class="group-by-container">
                    <label for="group_by">Agrupar por:</label>
                    <select name="group_by" id="group_by" onchange="this.form.submit()">
                        <option value="">Todos</option>
                        <option value="archivados" {% if selected_mesa == 'archivados' %}selected{% endif %}>Productos Archivados</option>
                    </select>
                </div>
            </form>

            <div class="add-buttons">
                <button id="addProductBtn"><i class="fa-solid fa-chair"></i> Registrar mesa</button>
            </div>
        </div>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>ID <a href="{{ url_for('registro_mesa', search=request.args.get('search', ''), sort_by='id_mesa', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'id_mesa') == 'id_mesa' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                        <th>Capacidad <a href="{{ url_for('registro_mesa', search=request.args.get('search', ''), sort_by='capacidad', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'capacidad') == 'capacidad' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                        <th>Ubicación <a href="{{ url_for('registro_mesa', search=request.args.get('search', ''), sort_by='ubicacion', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'ubicacion') == 'ubicacion' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mesa in mesas %}
                    <tr>
                        <td>{{ mesa.id_mesa }}</td>
                        <td>{{ mesa.capacidad }}</td>
                        <td>{{ mesa.ubicacion }}</td>
                        <td>
                            <div class="action-buttons">
                                <button class="editProductBtn" data-id="{{ mesa.id_mesa }}"><i class="fa-solid fa-edit"></i></button>
                                {% if mesa.activo %}
                                <button class="deleteProductBtn" onclick="confirmDelete(event, '{{ mesa.id_mesa }}')"><i class="fa-solid fa-trash"></i></button>
                                {% else %}
                                <button class="unarchiveProductBtn" onclick="confirmUnarchive(event, '{{ mesa.id_mesa }}')"><i class="fa-solid fa-box-open"></i></button>
                                {% endif %}
                            </div>
                        </td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- REGISTRAR MESA POP-UP -->
    <div class="popup" id="contactPopup">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <img src="../static/images/mesa.png" alt="Product Icon" class="product-icon">
            <h2>REGISTRO DE MESA</h2>
            <form id="regForm" action="/add_mesa" method="POST" enctype="multipart/form-data" onsubmit="handleMesaSubmit(event)">
                <div class="form-group">
                    <label for="capacidad">Capacidad</label>
                    <input type="number" id="capacidad" name="capacidad" required>
                    <span class="error-message" id="error-capacidad"></span>
                </div>
                <div class="form-group">
                    <label for="ubicacion">Ubicación</label>
                    <input type="text" id="ubicacion" name="ubicacion" required>
                    <span class="error-message" id="error-ubicacion"></span>
                </div>
                <div class="buttons">
                    <button type="submit">Registrar</button>
                    <button type="button" onclick="confirmCancel('regForm')">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- EDITAR MESA POP-UP -->
    <div class="popup" id="editPopup">
        <div class="popup-content">
            <span class="close-btn" onclick="closeEditPopup()">&times;</span>
            <img src="../static/images/comedor.png" alt="Product Icon" class="product-icon">
            <h2>EDITAR MESA</h2>
            <form id="editForm" method="POST" onsubmit="handleEditMesaSubmit(event)">
                <div class="form-group">
                    <label for="edit_capacidad">Capacidad</label>
                    <input type="number" id="edit_capacidad" name="capacidad" required>
                    <span class="error-message" id="edit-error-capacidad"></span>
                </div>
                <div class="form-group">
                    <label for="edit_ubicacion">Ubicación</label>
                    <input type="text" id="edit_ubicacion" name="ubicacion" required>
                    <span class="error-message" id="edit-error-ubicacion"></span>
                </div>
                <div class="buttons">
                    <button type="submit">Guardar Cambios</button>
                    <button type="button" onclick="confirmCancel('editForm')">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- SCRIPT POP-UP -->
    <script>
        document.getElementById('addProductBtn').addEventListener('click', function() {
            document.getElementById('contactPopup').style.display = 'block';
        });

        document.querySelectorAll('.editProductBtn').forEach(button => {
        button.addEventListener('click', function() {
            const mesaId = button.getAttribute('data-id');
            fetch(`/get_mesa/${mesaId}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('edit_capacidad').value = data.capacidad;
                    document.getElementById('edit_ubicacion').value = data.ubicacion;
                    document.getElementById('editForm').action = `/update_mesa/${mesaId}`;
                    document.getElementById('editPopup').style.display = 'block';
                    showEditTab(0);
                })
                .catch(error => console.error('Error al cargar los datos del producto:', error));
        });
    });

        function closePopup() {
            document.getElementById('contactPopup').style.display = 'none';
        }

        function closeEditPopup() {
            document.getElementById('editPopup').style.display = 'none';
        }

        function confirmCancel(formType) {
            let confirmMessage = '¿Está seguro de cancelar? Se perderán los datos.';

            Swal.fire({
                title: '¿Está seguro?',
                text: confirmMessage,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, cancelar',
                cancelButtonText: 'No, mantener',
                customClass: {
                    confirmButton: 'swal2-confirm',
                    cancelButton: 'swal2-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    if (formType === 'regForm') {
                        closePopup();
                        document.getElementById("regForm").reset();
                    } else if (formType === 'editForm') {
                        closeEditPopup();
                        document.getElementById("editForm").reset();
                    }
                }
            });
        }

        function showSuccessMessage(event, popupId, formId, message) {
            event.preventDefault();
            Swal.fire({
                title: '¡Éxito!',
                text: message,
                icon: 'success',
                confirmButtonText: 'OK',
                customClass: {
                    confirmButton: 'swal2-confirm'
                }
            }).then(() => {
                document.getElementById(popupId).style.display = 'none';
                document.getElementById(formId).reset();
                window.location.href = "/registro_mesa";
            });
        }

        function handleMesaSubmit(event) {
            event.preventDefault();
            const form = event.target;
            fetch(form.action, {
                method: form.method,
                body: new FormData(form)
            })
            .then(response => {
                if (response.ok) {
                    showSuccessMessage(event, 'contactPopup', 'regForm', 'Producto registrado con éxito');
                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('Error al registrar el producto:', error);
                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un problema al registrar el producto.',
                    icon: 'error',
                    confirmButtonText: 'OK',
                    customClass: {
                        confirmButton: 'swal2-confirm'
                    }
                });
            });
        }

        function handleEditMesaSubmit(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);

        fetch(form.action, {
            method: form.method,
            body: formData
        })
        .then(response => {
            if (response.ok) {
                showSuccessMessage(event, 'editPopup', 'editForm', 'Producto actualizado con éxito');
            } else {
                return response.text().then(text => { throw new Error(text); });
            }
        })
        .catch(error => {
            console.error('Error al actualizar el producto:', error);
            Swal.fire({
                title: 'Error',
                text: 'Hubo un problema al actualizar el producto.',
                icon: 'error',
                confirmButtonText: 'OK',
                customClass: {
                    confirmButton: 'swal2-confirm'
                }
            });
        });
    }

    function confirmDelete(event, mesaId) {
            event.preventDefault(); // Prevenir la acción predeterminada del botón
            Swal.fire({
                title: '¿Está seguro?',
                text: '¿Está seguro de archivar el producto?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, archivar',
                cancelButtonText: 'No, cancelar',
                customClass: {
                    confirmButton: 'swal2-confirm',
                    cancelButton: 'swal2-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/delete_mesa/${mesaId}`, {
                        method: 'POST'
                    })
                    .then(response => {
                        if (response.ok) {
                            Swal.fire('¡Archivado!', 'El producto ha sido archivado.', 'success').then(() => {
                                window.location.href = "/registro_mesa";  // Redirigir al panel de productos/comida para ver los cambios
                            });
                        } else {
                            return response.text().then(text => { throw new Error(text); });
                        }
                    })
                    .catch(error => {
                        console.error('Error al archivar el producto:', error);
                        Swal.fire({
                            title: 'Error',
                            text: 'Hubo un problema al archivar el producto.',
                            icon: 'error',
                            confirmButtonText: 'OK',
                            customClass: {
                                confirmButton: 'swal2-confirm'
                            }
                        });
                    });
                }
            });
        }
        function confirmUnarchive(event, mesaId) {
            event.preventDefault();
            Swal.fire({
                title: '¿Está seguro?',
                text: '¿Está seguro de desarchivar la mesa?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, desarchivar',
                cancelButtonText: 'No, cancelar',
                customClass: {
                    confirmButton: 'swal2-confirm',
                    cancelButton: 'swal2-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/unarchive_mesa/${mesaId}`, {
                        method: 'POST'
                    }).then(() => {
                        Swal.fire('¡Desarchivado!', 'El producto ha sido desarchivado.', 'success')
                            .then(() => window.location.reload());
                    }).catch(error => {
                        Swal.fire('Error', 'No se pudo desarchivar el producto.', 'error');
                    });
                }
            });
        }
    </script>
    <!-- Script Responsive Navbar -->
    <script>
        document.querySelector('.nav-hamburger').addEventListener('click', function() {
            document.querySelector('.nav-items').classList.toggle('nav-items-active');
        });
    </script>
</body>
</html>
