<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Producto</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <ul class="nav-items">
            <li><a href="/">Inicio</a></li>
            <li><a href="/usuarios">Usuarios</a></li>
            <li><a href="/juegos">Juegos</a></li>
            <li><a href="/comida">Comida</a></li>
            <li><a href="/mesas">Mesas</a></li>
            <li><a href="/reservas">Reservas</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
            <li><a href="/empleados">Empleados</a></li>
            <li><a href="/logout">Cerrar Sesion</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Registrar categoria Producto</h1>
        <button onclick="window.location.href='/categoriaProducto'">Categorías</button>

        <h2>Productos Registrados</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Máx. Personas</th>
                    <th>Imagen</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id_producto }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.max_personas }}</td>
                    <td><img src="{{ producto.imagen }}" alt="Imagen de {{ producto.nombre }}" width="100"></td>
                    <td>{{ producto.categoria_producto.nombre }}</td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Registrar Nuevo Producto</h2>
        <form id="productoForm" method="POST" action="/add_producto" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" id="descripcion" name="descripcion" required>
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" id="precio" name="precio" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="max_personas">Máx. Personas</label>
                <input type="number" id="max_personas" name="max_personas" required>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen</label>
                <input type="file" id="imagen" name="imagen" accept="image/png, image/jpeg, image/jpg" required>
            </div>
            <div class="form-group">
                <label for="categoria">Categoría</label>
                <select id="categoria" name="categoria" required>
                    {% for categoria in categorias %}
                    <option value="{{ categoria.id_catProducto }}">{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="buttons">
                <button type="submit">Registrar</button>
                <button type="button" onclick="clearForm()">Cancelar</button>
            </div>
        </form>
    </div>

    <script>
        function clearForm() {
            document.getElementById("productoForm").reset();
        }
    </script>
</body>
</html>
