<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Recuperar Contraseña</title>
    <link rel="stylesheet" href="..\static\css\userforms.css">
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img class="head-logo" src="..\static\images\logo.png" alt="Monster Dojo">
        <nav class="navbar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
                <li><a href="/register">Registrarse</a></li>
            </ul>
        </nav>
        <div class="header-content">
            <div class="rating-closing">
                <button>
                    <i class="fas fa-star"></i>
                    <span>4.5</span>
                </button>
                <button>
                    <i class="fas fa-clock"></i>
                    <span>Abierto</span>
                </button>
            </div>
            <div class="socials">
                <a href="" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="" target="_blank">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="form-container">
            <h3>Recuperar Contraseña</h3>
            <form method="POST" action="/reset_password">
                <p>Ingresa tu correo electrónico</p>
                <div class="input-container">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-container">
                    <button type="submit">Recuperar Contraseña</button>
                </div> 
            </form>
        </div>
    </div>
</body>

</html>