<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Verificar Pregunta de Seguridad</title>
    <link rel="stylesheet" href="..\static\css\userforms.css">
</head>
<body>
<div class="center-wrapper">
    <div class="form-container">
        <form method="POST">
            <h3>Verificar Pregunta de Seguridad</h3>
            <div class="input-container">
                <label for="respuesta">{{ pregunta }}</label>
                <input type="text" id="respuesta" name="respuesta" required>
            </div>
            <div class="input-container">
                <button type="submit">Verificar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
