<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Recuperar Contraseña</title>
    <link rel="stylesheet" href="..\static\css\userforms.css">
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <ul class="nav-items">
            <li><a href="">Inicio</a></li>
            <li><a href="">Usuarios</a></li>
            <li><a href="">Juegos</a></li>
            <li><a href="">Comida</a></li>
            <li><a href="">Mesas</a></li>
            <li><a href="">Reservas</a></li>
            <li><a href="">Pedidos</a></li>
            <li><a href="">Empleados</a></li>
            <li><a href="">Cerrar Sesion</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="form-container">
            <h3>Recuperar Contraseña</h3>
            <form method="POST" action="/reset_password">
                <p>Ingresa tu correo electrónico</p>
                <div class="input-container">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-container">
                    <button type="submit">Recuperar Contraseña</button>
                </div> 
            </form>
        </div>
    </div>
</body>

</html>