<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Panel de Usuarios</title>
    <link rel="stylesheet" href="../static/css/userspanel.css">
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <ul class="nav-items">
            <li><a href="">Inicio</a></li>
            <li><a href="">Usuarios</a></li>
            <li><a href="">Juegos</a></li>
            <li><a href="">Comida</a></li>
            <li><a href="">Mesas</a></li>
            <li><a href="">Reservas</a></li>
            <li><a href="">Pedidos</a></li>
            <li><a href="">Empleados</a></li>
            <li><a href="">Cerrar Sesion</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="actions-container">
            <div class="search-container">
                <input type="text" placeholder="Buscar usuario">
                <button>Buscar<i class="fa-solid fa-search"></i></button>
            </div>
            <div class="add-user">
                <button><i class="fa-solid fa-user-plus"></i> Añadir Usuario</button>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Telefono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>doejohn@mail.com</td>
                    <td>1234567890</td>
                    <td>
                        <button><i class="fa-solid fa-edit"></i></button>
                        <button><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Jane Doe</td>
                    <td>doejane@mail.com</td>
                    <td>0987654321</td>
                    <td>
                        <button><i class="fa-solid fa-edit"></i></button>
                        <button><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>doejohn@mail.com</td>
                    <td>1234567890</td>
                    <td>
                        <button><i class="fa-solid fa-edit"></i></button>
                        <button><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Jane Doe</td>
                    <td>doejane@mail.com</td>
                    <td>0987654321</td>
                    <td>
                        <button><i class="fa-solid fa-edit"></i></button>
                        <button><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>doejohn@mail.com</td>
                    <td>1234567890</td>
                    <td>
                        <button><i class="fa-solid fa-edit"></i></button>
                        <button><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Jane Doe</td>
                    <td>doejane@mail.com</td>
                    <td>0987654321</td>
                    <td>
                        <button><i class="fa-solid fa-edit"></i></button>
                        <button><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>