<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Monster Dojo - Panel de Usuarios</title>
    <!-- Link css -->
    <link rel="stylesheet" href="../static/css/userspanel.css">
    <link rel="stylesheet" href="../static/css/popup.css">
    <!-- Link fonts -->
    <script src="https://kit.fontawesome.com/9c32bf538b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Estilos para las alertas -->
    <style>
        .swal2-cancel {
            background-color: #192847 !important;
            color: #fff !important;
        }
        .swal2-confirm {
            background-color: #d48600 !important;
            color: #fff !important;
            width: 120px !important; 
        }
        .title {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="../static/images/logo.png" alt="Monster Dojo">
        </div>
        <ul class="nav-items">
            <li><a href="/adminpanel">Inicio</a></li>
            <li><a href="/usuarios">Usuarios</a></li>
            <li><a href="/juegos">Juegos</a></li>
            <li><a href="/comida">Comida</a></li>
            <li><a href="/mesas">Mesas</a></li>
            <li><a href="/reservas">Reservas</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
            <li><a href="/logout">Cerrar Sesion</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="title">Panel de Usuarios</div>
        <div class="actions-container">
            <form method="GET" action="/userspanel">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Buscar usuario" value="{{ request.args.get('search', '') }}">
                    <button type="submit">Buscar <i class="fa-solid fa-search"></i></button>
                </div>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre <a href="{{ url_for('list_users', search=request.args.get('search', ''), sort_by='nombre', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'nombre') == 'nombre' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                    <th>Correo Electrónico <a href="{{ url_for('list_users', search=request.args.get('search', ''), sort_by='correo', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'correo') == 'correo' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                    <th>Teléfono <a href="{{ url_for('list_users', search=request.args.get('search', ''), sort_by='telefono', sort_order='desc' if request.args.get('sort_order', 'asc') == 'asc' and request.args.get('sort_by', 'telefono') == 'telefono' else 'asc') }}"><button class="filter-btn"><i class="fa-solid fa-sort"></i></button></a></th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.nombre }}</td>
                    <td>{{ user.correo }}</td>
                    <td>{{ user.telefono }}</td>
                    <td>
                        <button class="editUserBtn" data-user-id="{{ user.id_usuario }}"><i class="fa-solid fa-edit"></i></button>
                        <button class="deleteUserBtn" onclick="confirmDelete(event)"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- EDITAR USUARIO POP-UP -->
    <div class="popup" id="editPopup">
        <div class="popup-content">
            <span class="close-btn" onclick="closeEditPopup()">&times;</span>
            <img src="../static/images/editar_usuario.png" alt="User Icon" class="user-icon">
            <h2>EDITAR USUARIO</h2>
            <div class="step-indicator">
                <div class="step-container">
                    <span class="step" onclick="showEditTab(0)" id="editStep1">1</span>
                    <span class="step-line"></span>
                    <span class="step" onclick="showEditTab(1)" id="editStep2">2</span>
                    <span class="step-line"></span>
                    <span class="step" onclick="showEditTab(2)" id="editStep3">3</span>
                </div>
            </div>
            <form id="editForm" method="POST"onsubmit="handleSubmit(event)">
                <div class="tab">
                    <div class="form-group">
                        <label for="editName">Nombre</label>
                        <input type="text" id="editName" name="name" required>
                        <span class="error-message" id="error-edit-name"></span>
                    </div>
                </div>
                <div class="tab">
                    <div class="form-group">
                        <label for="editEmail">Correo</label>
                        <input type="email" id="editEmail" name="email" required>
                        <span class="error-message" id="error-edit-email"></span>
                    </div>
                </div>
                <div class="tab">
                    <div class="form-group">
                        <label for="editPhone">Teléfono</label>
                        <input type="text" id="editPhone" name="phone" required>
                        <span class="error-message" id="error-edit-phone"></span>
                    </div>
                    <div class="buttons">
                        <button type="submit">Guardar Cambios</button>
                        <button type="button" onclick="confirmCancel('editForm')">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- SCRIPT POP-UP -->
    <script>
        document.querySelectorAll('.editUserBtn').forEach(button => {
            button.addEventListener('click', function() {
                const userId = button.getAttribute('data-user-id');
                fetch(`/get_user/${userId}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('editName').value = data.nombre;
                        document.getElementById('editEmail').value = data.correo;
                        document.getElementById('editPhone').value = data.telefono;
                        document.getElementById('editForm').action = `/update_user/${userId}`;
                        document.getElementById('editPopup').style.display = 'block';
                        showEditTab(0);
                    })
                    .catch(error => console.error('Error loading the user data:', error));
            });
        });

        function showEditTab(n) {
            let tabs = document.getElementById("editForm").getElementsByClassName("tab");
            for (let i = 0; i < tabs.length; i++) {
                tabs[i].style.display = "none";
            }
            tabs[n].style.display = "block";

            let steps = document.getElementById("editPopup").getElementsByClassName("step");
            let lines = document.getElementById("editPopup").getElementsByClassName("step-line");
            for (let i = 0; i < steps.length; i++) {
                steps[i].className = steps[i].className.replace(" active", "");
                if (i < lines.length) {
                    lines[i].className = lines[i].className.replace(" active", "");
                }
            }
            steps[n].className += " active";
            for (let i = 0; i < n; i++) {
                lines[i].className += " active";
            }
        }

        function closeEditPopup() {
            document.getElementById('editPopup').style.display = 'none';
        }

        function clearEditForm() {
            document.getElementById("editForm").reset();
        }

        function confirmCancel(formType) {
            let confirmMessage = '¿Está seguro de cancelar? Se perderán sus cambios.';
            Swal.fire({
                title: '¿Está seguro?',
                text: confirmMessage,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, cancelar',
                cancelButtonText: 'No, mantener',
                customClass: {
                    confirmButton: 'swal2-confirm',
                    cancelButton: 'swal2-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    closeEditPopup();
                    clearEditForm();
                }
            });
        }
        function handleSubmit(event) {
            event.preventDefault();
            const form = event.target;
            fetch(form.action, {
                method: form.method,
                body: new FormData(form)
            })
            .then(response => {
                if (response.ok) {
                    showSuccessMessage(event, 'editPopup', 'editForm', 'Cambios guardados con éxito');
                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('Error al guardar los cambios:', error);
                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un problema al guardar los cambios.',
                    icon: 'error',
                    confirmButtonText: 'OK',
                    customClass: {
                        confirmButton: 'swal2-confirm'
                    }
                });
            });
        }


        function showSuccessMessage(event, popupId, formId, message) {
            event.preventDefault();
            Swal.fire({
                title: '¡Éxito!',
                text: message,
                icon: 'success',
                confirmButtonText: 'OK',
                customClass: {
                    confirmButton: 'swal2-confirm'
                }
            }).then(() => {
                document.getElementById(popupId).style.display = 'none';
                document.getElementById(formId).reset();
                window.location.href = "/userspanel";  // Redirigir al panel de usuarios para ver los cambios

            });
        }

        function confirmDelete(event) {
            event.preventDefault(); // Prevenir la acción predeterminada del botón
            Swal.fire({
                title: '¿Está seguro?',
                text: '¿Está seguro de eliminar el registro?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'No, cancelar',
                customClass: {
                    confirmButton: 'swal2-confirm',
                    cancelButton: 'swal2-cancel'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Continuar con la acción de eliminar el registro
                    Swal.fire('¡Eliminado!', 'El registro ha sido eliminado.', 'success');
                }
            });
        }
    </script>
</body>
</html>
